<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Create new post</h1>
  </div>
</div>
<form [formGroup]="newPostForm">
  <div class="container mt-4">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" formControlName="title" id="title" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <input type="text" class="form-control" formControlName="content" id="content" autocomplete="off">
    </div>
    <div class="form-group">
      <h4>Post</h4>
      <textarea class="variable-textarea" formControlName="post"></textarea>
      <markdown class="variable-binding format-content" [data]="newPostForm.get('post').value" lineNumbers></markdown>
    </div>
    <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  </div>
</form>
<div *ngIf="serverResponse">
  <p>{{ serverResponse.message }}</p>
  <a routerLink="/post/{{ serverResponse.id }}/view">View post</a>
</div>
